.cv-preview{
    min-width: 500px;
    background: #ffffff;
    padding: 15px;
    background-color: #F2F2F2;
}

.full-name{
    text-align: center;
    margin: 0;
}

.email-and-phone{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.education-preview-header,.experience-preview-header{
    border-bottom: 2px solid black;
    margin: 0;
}

.education-content,.experience-content{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.city-country-preview{
    text-align: right;
}

.description-job-preview{
    font-size: 12px;
}


