.GeneralInfoInput,.ExperienceInput,.EducationInput{
    display: flex;
    flex-direction: column;
    gap:4px;
}

.GeneralInfoInput > h1,.ExperienceInput > h1,.EducationInput > h1{
    text-align: center;
    font-size: 18px;
}

.cv-builder > div{
    max-width: 250px;
    width: 100%;
}

.GeneralInfoInput > input,.ExperienceInput > input,.EducationInput > input{
    border-radius: 5px;
    height: 20px;
    border: 1px solid black;

    
}

.GeneralInfoInput > label,.ExperienceInput > label,.EducationInput > label{
    font-size: 16px;
    
}

.cv-builder{
    min-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 31px;
    background: #F2F2F2;
    padding-bottom: 25px;
}

.save-button,.edit-button{ 
    background-color: #3185FC;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border:  2px solid black;
    margin-top: 15px;
    width: 100px;
    border-radius: 10px;
    height: 25px;
    cursor: pointer;
}

.save-button:hover,.edit-button:hover{
    background-color: #4391ff;
}

.save-button:active,.edit-button:active{
    background-color: #62a4ff;
}

.cv-builder > div > p{
    border-radius: 5px;
  height: 20px;
  border: 1px solid black;
  margin: 0;
  font-size: 14px;
}

.save-button-disabled{
    background-color: #62a4ff;
    color: rgb(255, 255, 255);
    font-weight: 700;
    border:  2px solid black;
    margin-top: 15px;
    width: 100px;
    border-radius: 10px;
    height: 25px;
    cursor: not-allowed;
    opacity: .5;
}